@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif !important;
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 50vw;
  padding: 8%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 1.5rem 1.5rem 7.5rem 1.5rem;

}

@media (min-width: 475px) and (max-width: 1000px) {
  body{
    align-items: start;
  }
  .container {
    /* width:70%; */
    max-width: 70vw;
    margin : 35% auto;
  }
}

@media (max-width: 475px) {
  body{
    align-items: start;
  }
  .container {
    /* width:90%; */
    max-width: 90vw;
    margin : 16% auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 75vw;
  }
}